/* Is adaptive? */
$isMobile: "(max-width: 1080px)";
/* FONT WEIGHT */
$weight_bold: 550;
$weight_medium: 450;
$weight_normal: 370;
$weight_light: 250;


/* COLORS*/
$blue: #6C7FE3;
$gray: #787878;
$white: #FFF;

