@import "app/styles/variables/variables";
@import "app/styles/mixins";
.mp_services_list {
  //display: flex;
  //flex-direction: column;
  width: 100%;
  position: relative;
}
.services_list {
  display: grid;
  width: 100%;
  grid-template-columns: repeat(auto-fill,minmax(325px,1fr));
  gap: 20px;
  @include default_padding_block;
  :last-child {
    background: none;
  }
}