@import "app/styles/variables/variables";
.choise_gallery {
  display: flex;
}
.dropdown_menu {
  position: absolute;
  display: block;
  box-sizing: border-box;
  top: 40px;
  left: 0;
  z-index: 10;
  background-color: $white;
  transform: translateX(-10px);
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  ul {
    list-style-type: none;
    padding-bottom: 10px;
    li {
      padding-left: 10px;
      padding-right: 10px;
    }
  }
  ul li:hover{
    background-color: lightgray;
}
}
.text {
  display: inline-flex;
}
.choised_value {
  position: relative;
  border-bottom: 2px solid black;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}