@import "app/styles/variables/variables";
@mixin default_border {
  border: 2px solid #F3F3F3;
}
@mixin default_padding_block {
  @media ($isMobile) {
    padding: 0 20px 0 20px;
  }
}





@mixin mobile_padding {
  padding: 0 16px;
}
@mixin default_padding {
  padding: 20px;
}
@mixin default_padding-left-right {
  padding: 20px;
}
@mixin mobile_default_padding_left {

  padding: 0 15px 0 15px;
  @media (min-width: 1080px) {
    padding: 0;
  }
}
@mixin normal_font_size {
  @media (min-width: 600px) {
    font-size: 18px;
  }
  @media (min-width: 1080px) {
    font-size: 22px;
  }
  @media (min-width: 1400px) {
    font-size: 28px;
  }
}